/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
html {
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  color: #4B4E6D;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
p {
  font-size: 1.5rem;
  line-height: 1.5;
}
.container {
  background: #E8F7EE;
  width: 900px;
  margin: 0 auto;
  border: 1px solid #4B4E6D;
}
.container .header-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  background: #4B4E6D;
  border: 1px solid #4B4E6D;
}
.container .header-wrapper nav {
  width: 100%;
  padding: 10px;
  margin: 0 5px 10px 0;
  display: flex;
  justify-content: flex-end;
}
.container .header-wrapper a {
  text-decoration: none;
  padding: 10px;
  font-size: 1.6rem;
  color: #E8F7EE;
}
.container .header-wrapper .header-main {
  width: 70%;
  border: 1px solid #4B4E6D;
  border-radius: 8px 0 0 0;
  background: #D5DDBC;
}
.container .header-wrapper .header-main .profile-img img {
  width: 50%;
  height: auto;
  border: 3px solid #4B4E6D;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.container footer {
  border: 1px solid yellow;
  width: 85%;
  margin: 0 auto;
}
.container footer nav {
  justify-content: space-around;
}
.container footer .updated {
  border: 1px solid blue;
  width: 50%;
  margin: 0 auto;
  display: flex;
  background: #D5DDBC;
}
.container footer .updated p {
  padding: 10px;
  margin: 0 auto;
}
h2 {
  text-align: center;
}
.container .middle-content .intro .intro-text {
  text-indent: 2rem;
  padding: 2%;
}
.container .skills {
  border: 1px solid #4B4E6D;
  width: 30%;
}
.container .skills h2 {
  text-align: center;
  background: #798086;
  color: #D5DDBC;
}
.container .skills li {
  border: 1px solid #4B4E6D;
  padding: 10px 10px;
  text-align: center;
  font-size: 1.8rem;
}
.container .skills .one {
  background: #E8F7EE;
}
.container .skills .container .skills .two {
  background: #D5DDBC;
}
@media (max-width: 800px) {
  .container {
    width: 90%;
  }
  .container .middle-content {
    flex-direction: columnm;
  }
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
.container .middle-content {
  width: 85%;
  margin: 0 auto;
  display: flex;
  border: 1px solid blue;
}
.container .middle-content .intro {
  width: 70%;
  background: #B6C197;
}
.container .table {
  width: 85%;
  margin: 0 auto;
}
.container .table th {
  border: 1px solid #4B4E6D;
}
.container .table tr {
  border: 1px solid #4B4E6D;
}
.container .table td {
  border: 1px solid #4B4E6D;
}
