// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
html {
	box-sizing: border-box;
	}
*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

@main-font:'Nunito', sans-serif;
@lighter-color:#E8F7EE;
@light-color:#D5DDBC;
@med-color:#798086;
@dark-color:#4B4E6D;
.center(){
	display: flex;
	justify-content: center;
	align-items: center;
}
.border(){
	border: 1px solid @dark-color;
}
.width-margin(){
	width: 85%;
	margin: 0 auto;
}
	
html {
	font-family: @main-font;
	font-size: 62.5%;
	color: #4B4E6D;
}
h1 {
	font-size: 4rem;
	font-weight: bold;
}
h2{
	font-size: 2.5rem;
	font-weight: bold;
}
h3 {
font-size: 1.8rem;
font-weight: bold;
}
p {
	font-size: 1.5rem;
	line-height: 1.5;
}
.container {
	background: #E8F7EE;
	width: 900px;
	margin: 0 auto;
	.border();
  .header-wrapper {
	.width-margin();
	display: flex;
	flex-flow: column wrap;
	background: @dark-color;
	border: 1px solid @dark-color;
	} //closes header wrapper//
  nav {
	width: 100%;
	padding: 10px;
	margin: 0 5px 10px 0;
	display: flex;
	justify-content: flex-end;
	// border: 1px solid green;
  a {
	  text-decoration: none;
	  padding: 10px;
	  font-size: 1.6rem;
	  color: @lighter-color;
  }
  } //closes nav //
   .header-main {
	   width: 70%;
	   .border();
	   background: @light-color;

	.profile-img img{
		width: 50%;
		height: auto;
		border: 3px solid @dark-color;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 20px;
	}
   } //closes header-main//
   .skills {
	   border: 1px solid @dark-color;
	   width: 30%;
	
	   h2 {
		   text-align: center;
	   }
	  li {
		  border: 1px solid @dark-color;
		  padding: 10px 10px;
		  text-align: center;
	  } 
   } //closes skills//
  
	@media(max-width:800px) {
		width: 90%;
		.middle-content{
			flex-direction: columnm;
		}
	}
	@media(max-width:500px) {
		width: 90%;
		
	}
	.middle-content {
		.width-margin();
		display: flex;
		border: 1px solid blue;
	  .intro {
		  width: 70%;
	  }	
	}
	.table {
		.width-margin();
	  th {
		  .border();
	  }
	  tr {
		.border();
	  }
	  td {
		  .border();
	  }
	} //closes table
	footer {
		border: 1px solid yellow;
		.width-margin();
	  nav {
		  justify-content: space-around;
	  }	
	  .updated {
		  border: 1px solid blue;
		  width: 50%;
		  margin: 0 auto;
		  display: flex;
		 p {
			 padding: 10px;
			 margin: 0 auto;
			 
		 } 
	  }
	} //closes footer //
}  //closes container//

